.news-all-list {
    border: 1px solid rgba(6, 71, 248, 0.822);
}

.next-news-btn {
    margin: auto;
    margin-block: 40px;
    color: #fff;
    border: 2px solid rgb(6, 71, 248);
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(6, 71, 248, 0.822);
    cursor: pointer;
}

.next-news-btn:hover {
    background: rgba(6, 71, 248, 0.479);
}


.new-all-items-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.new-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-block: 15px;
    max-width: 30%;
    padding: 10px;
    box-shadow: 0px 0px 8px rgb(99, 98, 98);
    border-radius: 6px;
}

.new-item:hover {
    box-shadow: 0px 0px 14px rgb(99, 98, 98);
}


.new-item-info p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    padding-inline: 0px 20px;
    color: #5f6368;
    line-height: 25px;
}

.new-item-info h2 {
    color: black;
}


.p-link:hover {
    color: #282929;
}

.new-item-info h2 {
    max-width: 40%;
    margin: auto;
    margin-top: 15px;
}

.new-item-img {
    border-radius: 8px;
    max-width: 300px;
    height: auto;
}

.news-item-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-item-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.new-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.new-item-footer p {
    font-size: 12px;
    padding-left: 10px;
    color: #383838;
}

.delete-btn {
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding-block: 4px;
    border: 2px solid rgba(6, 71, 248, 0.479);
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.btn-img {
    width: 12px;
    height: auto;
    cursor: pointer;
}

.delete-btn:hover {
    border: 2px solid rgba(248, 6, 6, 0.479);
    transform: scale(1.10);
}
